<nav class="menubar">
  <div class="menu-logo">
    <a href="/">MeuApp</a>
  </div>
  <div class="menu-toggle" (click)="toggleMenu()">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
  <ul class="menu-items" [ngClass]="{ active: isMenuOpen }">
    <li><a (click)="navigateAndClose('/')">Início</a></li>
    <li><a (click)="navigateAndClose('/produtos')">Listar Produtos</a></li>
    <li><a (click)="navigateAndClose('/produtos/criar')">Cadastrar Produto</a></li>
  </ul>
</nav>
