<div class="search-container">
  <input type="text" [(ngModel)]="searchTerm" placeholder="Pesquisar..." class="search-input" />
</div>


<table class="produto-table">
  <thead>
    <tr>
      <th></th>
      <th>Nome</th>
      <th>Categoria</th>
      <th>Preço</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let produto of produtos | filter: searchTerm">
      <tr class="produto-row">
        <td>
          <button class="toggle-button" (click)="produto.showDescription = !produto.showDescription">
            {{ produto.showDescription ? "▼" : "►" }}
          </button>
        </td>
        <td>{{ produto.title }}</td>
        <td>{{ produto.category }}</td>
        <td>{{ produto.price | currency }}</td>
      </tr>
      <tr *ngIf="produto.showDescription" class="description-row">
        <td colspan="4">{{ produto.description }}</td>
      </tr>
    </ng-container>
  </tbody>
</table>
